h1 { color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase; }


h2 { color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 30px; font-weight: 800; line-height: 36px; margin: 0 0 24px; text-align: center; }


p { color: #f8f8f8; font-family: 'Raleway',sans-serif; font-size: 18px; font-weight: 500; line-height: 32px; margin: 0 0 24px; }


a { color: #c8c8c8; text-decoration: underline; }


a:hover { color: #1c1c1c; text-decoration: underline; }



body {
    background-color: #ff69b4;
}
html, body {
    height: 100%;
    margin: 0;
}
.mainCanvas
{
  background-color: black;
  min-height: 100%;
  height: auto;
  height: 100%;
  margin: 0 0 0 0;
}

.playButton
{
  color: gray;
	max-width: 30vw;
	min-width: 30vw;
	min-height: 30vw;
	display: inline-table;
	border-color: dark-gray;
	border-width: 0.2vw;
	border-style: solid;
	border-radius: 15.2vw;
	text-align: center;
	margin: 5px 5px 5px 5px;
	font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  padding: 10px 10px 10px 10px;
}

.playButton span
{
  vertical-align:middle;
  display: table-cell;
}

.nowPlaying
{
  color: white;
	border-color: silver;
	border-width: 1vw;
	border-radius: 17vw;
  -webkit-animation: spin-360 10s linear;
  animation: spin-360 10s linear;
  -webkit-animation-iteration-count: 1000;
  animation-iteration-count: 1000;
}

@-webkit-keyframes spin-360
{
	100% {
    transform: rotate(360deg);
	}
}
